@import url('https://fonts.googleapis.com/css?family=Farsan');

* {
	box-sizing: border-box;
}

body {
	background-color: #011627;
	font-family: farsan;
}

.container {
	background-color: #fdfffc;
	border-radius: 10px;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
	margin: auto;
	margin-top: 5%;
	max-width: 300px;
	padding: 20px;
	position: relative;
	text-align: center;
}

.container-wide {
	max-width: 600px;
}

.title, .subtitle {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	-o-user-select: none;
	user-select: none;
}

.title {
	font-size: 10em;
	margin-top: 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.subtitle {
	font-size: 4em;
	margin-top: -0.5em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.paste-input {
	background-color: #182B3A;
	border-bottom: 2px solid #182b3a;
	border-radius: 5px;
	border: none;
	color: #fdfffc;
	cursor: pointer;
	font-family: farsan;
	font-size: 1.5em;
	outline: none;
	padding: 10px 5px 5px 5px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	width: 100%;
}

.paste-input:hover, .paste-input:focus {
	transform: translateY(-2px);
}

.stylish-button {
	background: #182b3a;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	color: #fdfffc;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin: 20px 5px 0px 5px;
	outline: none;
	padding: 5px 15px 5px 15px;
	text-align: center;
	transition: 0.2s;
}

.stylish-button:active:hover, .sel {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

.stylish-button:hover {
	background: #011627;
}

.stylish-button > .fa {
	pointer-events: none;
}

.submit-button {
	animation: slide-down 0.3s ease-out;
}

.comp-container {
	width: 100%;
	position: relative;
}

.loading-icon {
	animation: fa-spin 0.8s infinite linear;
}

a.output {
	color: #020202;
	display: inline-block;
	font-size: 1.3em;
}

.output-copy {
	margin-left: 10px;
	color: #020202;
	cursor: pointer;
}

.app-container {
	height: 100px;
	margin-bottom: 30px;
	margin-top: 35px;
	position: relative;
}

.swap-transition-enter-active {
	transition: 0.5s;
}

.swap-transition-leave-active {
	position: absolute;
	transition: 0.5s;
}

.swap-transition-enter {
	opacity: 0;
	transform: translateY(50px);
}

.swap-transition-leave-to {
	opacity: 0;
	transform: translateY(-50px);
}

.stats-cols {
	display: flex;
	transform: translateY(-15px); /* it's getting late */
}

.chart-button {
	display: block;
	font-size: 0.9em;
	margin: 0px 0px 5px 0px;
	width: 2.5em;
    padding: 2px 10px 2px 10px;
}

.chart-canvas {
	margin-left: 10px;
	align-self: center;
}

#chart {
	width: 100%;
	height: 100%;
}

.copy-area {
	border: none;
	cursor: default;
	height: 0;
	left: 0;
	outline: none;
	position: fixed;
	top: -10px;
	width: 0;
}

.line {
	width: 20%;
}

.credits > a {
	font-size: 1.2em;
	color: #011627;
}

.output-copy {
	position: relative;
}

.animation-flash-copied:after {
	animation: flash-copied cubic-bezier(0, 0.45, 0.4, 0.99) 1.5s;
	content: 'copied!';
	cursor: default;
	font-family: farsan;
	font-size: 1.2em;
	left: -15px;
	opacity: 0;
	position: absolute;
	top: -20px;
}

@keyframes flash-copied {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	40% {
		opacity: 1;
	}

	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
