@import url('https://fonts.googleapis.com/css?family=Farsan');

* {
	box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
	font-family: farsan;
}

.container {
	margin: auto;
	margin-top: 5%;
	max-width: 300px;
	position: relative;
	text-align: center;
}

.title {
	font-size: 10em;
	margin-top: 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.subtitle {
	font-size: 4em;
	margin-top: -0.5em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.paste-input {
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	font-family: farsan;
	font-size: 1.5em;
	margin-top: 20px;
	outline: none;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.paste-input:hover, .paste-input:focus {
	transform: translateY(-2px);
}

.stylish-button {
	background: #d3d3d3;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px;
	outline: none;
	padding: 5px 15px 5px 15px;
	text-align: center;
	transition: 0.2s;
}

.stylish-button:active:hover {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

.stylish-button:hover {
	background: #b5b5b5;
}

.submit-button {
	font-size: 1.5em;
}

.reset-button {
	font-size: 1em;
}

.comp-c {
	width: 100%;
}

.loading-c {
	margin-top: 30px;
}

.loading-c > i {
	animation: fa-spin 0.8s infinite linear;
}

.finish-c {
	margin-top: 30px;
}

a.output {
	color: gray;
	display: inline-block;
	font-size: 1.3em;
	margin-right: 10px;
}

.output-copy {
	color: gray;
	cursor: pointer;
}

.swap-transition-enter-active, .swap-transition-leave-active  {
	position: absolute;
	transition: 0.5s;
}

.swap-transition-enter {
	opacity: 0;
	transform: translateY(50px);
}

.swap-transition-leave-to {
	opacity: 0;
	transform: translateY(-50px);
}

.copy-area {
	border: none;
	cursor: default;
	height: 0;
	left: 0;
	outline: none;
	position: fixed;
	top: 0;
	width: 0;
}

.output-copy {
	position: relative;
}

.animation-flash-copied:after {
	animation: flash-copied cubic-bezier(0, 0.45, 0.4, 0.99) 2s;
	content: 'copied!';
	cursor: default;
	font-family: farsan;
	font-size: 1.2em;
	left: -15px;
	opacity: 0;
	position: absolute;
	top: -20px;
}

@keyframes flash-copied {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	30% {
		opacity: 1;
	}

	100% {
		transform: translateY(-30px);
		opacity: 0;
	}
}
